<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>About</key>
	<dict>
		<key>0</key>
		<array>
			<string>Τι είναι το ΟΠΑ;</string>
			<string>Το ΟΠΑ είναι μία κινητή εφαρμογή που επιτρέπει τους χρήστες να ανταλλάσουν πληροφορία γιά ιδιωτικές η δημόσιες θέσεις.  Πιστεύουμε ότι θα βοηθήσει την κοινωνία γιά καλύτερο πάρκινγκ, καθίσματα, και ουρές.</string>
		</array>
		<key>1</key>
		<array>
			<string>Σε ποιά πλατφόρμα τρέχει;</string>
			<string>ο ΟΡΑ είναι διαθέσιμο για συσκευές Android και iPhone. Ο στόχος μας είναι να το διαδώσουμε όσο γίνεται περισσότερο.</string>
		</array>
		<key>2</key>
		<array>
			<string>Πώς ζητάω θέση;</string>
			<string>Απλά πάτα με το δάκτυλο επάνω στην βελόνα που θέλεις και στείλε μία αίτηση.</string>
		</array>
		<key>3</key>
		<array>
			<string>Πώς τοποθετώ μιά θέση στον χάρτη;</string>
			<string>Πάτα με το δάκτυλο πάνω στον χάρτη μέχρι να δεις την επιγραφή ΒΑΛΕ ΕΔΩ. Κούνα τον χάρτη μέχρι να βρεις την ακριβή θέση στον χάρτη και πάτα ΒΑΛΕ ΕΔΩ.  Διάλεξε ώρα και ημερομηνία που θελεις να δώσεις την θέση.  Βάλε μια τιμή.  Διάλεξε κατηγορία: όχημα, κάθισμα, η όρθια θέση.  Τοποθέτησε την θέση και περίμενε κάποιος να σου κάνει αίτηση.</string>
		</array>
		<key>4</key>
		<array>
			<string>Τι σημαίνουν οι διαφορετικές βελόνες στον χάρτη;</string>
			<string>Οι μπλε βελόνες με ένδειξη ευρώ σημαίνουν ανοιχτές θέσεις. Οι ροζ βελόνα είναι η δική σου θέση, και πο βελόνες με ένα αναποδογυρισμενο αμάξι είναι η θέση που έχεις συμφωνία.</string>
		</array>
		<key>5</key>
		<array>
			<string>Τι είδους περιορισμοί υπαρχουν για τη θέση;</string>
			<string>Αυτός που βάζει την θέση πρέπει να διαλέξει αν είναι όχημα, κάθισμα, η όρθια θέση.  Αλλά, είναι ευθύνη αυτού που παίρνει την θέση να χρησιμποιήσει την θέση νόμιμα, όπως, γιά παράδειγμα, να πληρώσει έξτρα γιά την θέση αν χρειάζεται, η να έχει άδεια, η να τηρεί τα ωράρια.</string>
		</array>
	</dict>
	<key>Payment</key>
	<dict>
		<key>0</key>
		<array>
			<string>Πως πληρώνομαι;</string>
			<string>Πληρώνεσαι σε μετρητά από τον άλλον όταν συναντηθείτε γιά την αλλαγή.  Εμείς πάντως σας προτείνουμε να δίνετε την θέση σας γιά €0.</string>
		</array>
		<key>1</key>
		<array>
			<string>Πως πληρώνω;</string>
			<string>Αν πληρώσεις, πλήρωσε μετρητά επί τόπου</string>
		</array>
		<key>2</key>
		<array>
			<string>Γιατί κριτική;</string>
			<string>Η κριτική μετράει την υπόληψη των χρηστών.  Όσο πιό καλές κριτικές έχει κάποιος, τόσο πιό αξιόπιστος είναι.</string>
		</array>
		<key>3</key>
		<array>
			<string>Γιατί δεν μπορώ να μπω στην εφαρμογή;</string>
			<string>Αν πάρεις τρεις αρνητικές κριτικές από άλλους, τότε βρίσκεσαι εκτός ΟΡΑ και σου επιτρέπεται σύνδεση.</string>
		</array>
		<key>4</key>
		<array>
			<string>Πληρώνω προμήθεια στο ΟΠΑ;</string>
			<string>Το ΟΠΑ δεν παίρνει καμμιά προμήθεια.</string>
		</array>
	</dict>
	<key>Support</key>
	<dict>
		<key>0</key>
		<array>
			<string>Τι να κάνω αν αργήσω;</string>
			<string>Στείλε αμέσως μήνυμα μέσω του ΟΠΑ γιά να ενημερώσεις τον άλλον.</string>
		</array>
		<key>1</key>
		<array>
			<string>Ζήτησα θέση, αλλά δεν πήρα απάντηση.  Τι να κάνω;</string>
			<string>Ακύρωσε την αίτηση σου γιά θέση και ψάξε γιά άλλη θέση στον χάρτη.</string>
		</array>
		<key>2</key>
		<array>
			<string>Είμαι σε άλλη εφαρμογή.  Θα παίρνω τα μηνύματα του ΟΡΑ;</string>
			<string>Κανένα πρόβλημα. Το ΟΡΑ θα σας ενημερώσει με μήνυμα.</string>
		</array>
	</dict>
</dict>
</plist>
