<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>About</key>
	<dict>
		<key>0</key>
		<array>
			<string>What is OPA?</string>
			<string>OPA is a mobile app that allows users to exchange information about public or private spots.  It will help facilitate a better community whether that is parking, seating or queuing.</string>
		</array>
		<key>1</key>
		<array>
			<string>What platforms is the app available?</string>
			<string>OPA is currently available on any Android- and iOS-run devices. Our goal is to make it available to as many users as possible.</string>
		</array>
		<key>2</key>
		<array>
			<string>How do I request a spot?</string>
			<string>Simply tap on a pin of the spot you want and send a request.</string>
		</array>
		<key>3</key>
		<array>
			<string>How do I post a spot?</string>
			<string>Press and hold your finger on the map until the &quot;post here&quot; icon appears. Move the map to the desired location and select &quot;post here&quot;. Provide the date and time the spot will be available.  Set your price.  Give any aditional details. Post your spot and wait for someone to send you a request.</string>
		</array>
		<key>4</key>
		<array>
			<string>What do the different pins mean?</string>
			<string>Blue pins with a dollar amount show available spots; a Pink pin is the spot you posted; and, a pin with a car image show you are in agreement.</string>
		</array>
		<key>5</key>
		<array>
			<string>What kinds of categories of spots are indicated in the app?</string>
			<string>The poster of the spot is asked to show whether it is a vehicle, seat, or queue.  But it is the responsibility of the user to use the spots legally, such as, by paying extra for the spot, having a permission, or observing the time limits.</string>
		</array>
	</dict>
	<key>Payment</key>
	<dict>
		<key>0</key>
		<array>
			<string>How do I get paid?</string>
			<string>For now you get paid from the other party in cash.  However, we recommend that you post for €0.</string>
		</array>
		<key>1</key>
		<array>
			<string>How do I pay?</string>
			<string>You pay using cash. </string>
		</array>
		<key>2</key>
		<array>
			<string>Why feedback?</string>
			<string>Feedback measures your value as a customer.  The more positive feedback you have the more reliable you are.</string>
		</array>
		<key>3</key>
		<array>
			<string>Why can I not login?</string>
			<string>If you get three negative feedbacks, you are locked out of the OPA system.  </string>
		</array>
		<key>4</key>
		<array>
			<string>Do I pay a commission to OPA?</string>
			<string>OPA does not take a commission at this time.</string>
		</array>
	</dict>
	<key>Support</key>
	<dict>
		<key>0</key>
		<array>
			<string>What do I do if I am running late?</string>
			<string>Notify the poster via the chat immediately and try to rearrange the timing.</string>
		</array>
		<key>1</key>
		<array>
			<string>I requested a spot, but never received any response from the poster. What should I do?</string>
			<string>Cancel your request and look for another spot on the map.</string>
		</array>
		<key>2</key>
		<array>
			<string>I&apos;m in another app. Can I still get messages?</string>
			<string>No worries, OPA alerts you by push notifications.</string>
		</array>
	</dict>
</dict>
</plist>
